{{ $lib := resources.GetRemote "https://gc.zgo.at/count.js" }}
{{ $lib = $lib | resources.Copy "count.js" }}
<script data-goatcounter="https://stats.matteocroce.it/count" async src="{{ $lib.RelPermalink }}"></script>
<style>
	.portrait {
		float: right;
		border-radius: 5%;
		margin: 0 0 10px 10px;
		width: 40%;
	}
	footer {
		a {
			text-decoration: none;
		}

		img {
			width: 32px;
			margin: 5px;
		}
	}
	@media (prefers-color-scheme: dark) {
		footer img {
			filter: invert(1);
		}
	}
</style>
