<script
        data-goatcounter="https://teknoraver.goatcounter.com/count"
        async
        src="//gc.zgo.at/count.js"
></script>

<style>
        footer {
                a {
                        text-decoration: none;
                }
                img {
                        width: 32px;
                        margin: 5px;
                }
        }
        @media (prefers-color-scheme: dark) {
                footer img {
                        filter: invert(1);
                }
        }
</style>
