<a href="https://github.com/teknoraver">
	<img src="/imgs/github.svg" alt="GitHub" />
</a>
<a href="https://www.linkedin.com/in/teknoraver/">
	<img src="/imgs/linkedin.svg" alt="LinkedIn" />
</a>
<a href="#" id="t">
	<img src="/imgs/telegram.svg" alt="Telegram" />
</a>
<a href="#" id="e">
	<img src="/imgs/email.svg" alt="Email" />
</a>
<a href="https://www.facebook.com/teknoraver">
	<img src="/imgs/facebook.svg" alt="Facebook" />
</a>
<a href="https://www.instagram.com/teknoraver">
	<img src="/imgs/instagram.svg" alt="Instagram" />
</a>

<script>
	function o(a, c) {
		var b = "";
		for (var i = 0; i < c.length; i++)
			b += a.charAt(c[i]);
		return b;
	}
	document.querySelector("#e").href = o(".58:@abceghilmnoty", [13, 5, 11, 12, 16, 15, 3, 16, 8, 7, 10, 14, 15, 6, 15, 17, 2, 1, 4, 9, 13, 5, 11, 12, 0, 7, 15, 13])
	document.querySelector("#t").href = o("./:aehkmnoprstv", [5, 13, 13, 10, 12, 2, 1, 1, 13, 0, 7, 4, 1, 13, 4, 6, 8, 9, 11, 3, 14, 4, 11]);
</script>
