.carousel {
	scrollbar-color: transparent transparent;
	scrollbar-width: none;
}

ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.carousel {
	display: inline-block;
	position: relative;
	filter: drop-shadow(0 0 10px #0003);
}

.carousel__viewport {
	position: absolute;
	top: 0;
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.carousel__slide {
	position: relative;
	flex: 0 0 100%;
	width: 100%;
}

.carousel__snapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-snap-align: center;
}

.carousel__navigation {
	position: absolute;
	right: 0;
	bottom: 5%;
	left: 0;
	text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
	display: inline-block;
}

.carousel__navigation-button {
	box-sizing: border-box;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #333;
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 50%;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
	position: absolute;
	top: 0;
	margin-top: 40%;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.carousel::before,
.carousel__prev {
	left: -1rem;
}

.carousel::after,
.carousel__next {
	right: -1rem;
}

.carousel::before,
.carousel::after {
	content: "";
	z-index: 1;
	background-color: #333;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	pointer-events: none;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
	transform: rotate(180deg);
}
